<div class="alert alert-danger" role="alert" *ngIf="this.trackerError.friendlyMessage">
  {{this.trackerError.friendlyMessage}}
</div>

<div class="alert alert-primary" role="alert" *ngIf="this.showAlert">
  You do not have own resumes yet. To add a new one, click on the link below.
  <a class="nav-link text-info font-weight-bold" [routerLink]="['/add-resume']">Add resume</a>
</div>

<div class="card border-dark mb-3" *ngFor="let babysitter of allBabysitterResume">
  <h5 class="card-header">{{ SpecializationType[babysitter.specialization.specializationType] }}</h5>
  <div class="card-body text-dark">
    <h5 class="card-title">{{ babysitter.description }}</h5>
    <p class="card-text">Age: {{ babysitter.age }}</p>
    <p class="card-text">Employment type: {{ EmploymentType[babysitter.specialization.employmentType] }}</p>
    <p class="card-text">Payment type: {{ PaymentType[babysitter.specialization.paymentType] }}</p>
    <p class="card-text" *ngIf="babysitter.specialization.paymentPrice">Payment price: {{ babysitter.specialization.paymentPrice }} hrn</p>
    <p class="card-text">Education type: {{ EducationType[babysitter.specialization.educationType] }}</p>
    <p class="card-text" *ngIf="babysitter.education.speciality">Education speciality type: {{ EducationSpecialityType[babysitter.education.speciality] }}</p>
    <p class="card-text" *ngIf="babysitter.education.additionalEducation">Additional education: {{ babysitter.education.additionalEducation }}</p>
    <p class="card-text">Native language: {{ LanguageType[babysitter.nativeLanguage] }}</p>
    <p class="card-text" *ngIf="babysitter.otherLanguages">Native language: {{ LanguageType[babysitter.otherLanguages] }}</p>
    <p class="card-text" *ngIf="babysitter.driverLicense">I have a driver license</p>
    <p class="card-text" *ngIf="babysitter.foreignPassport">I have a foreign passport</p>
    <p class="card-text" *ngIf="babysitter.travelWithFamily">I can travel with family</p>
    <p class="card-text" *ngIf="babysitter.officialEmployment">I would like official employment</p>
    <p class="card-text" *ngIf="babysitter.medicineBook">I have a medicine book</p>
    <p class="card-text" *ngIf="babysitter.ownChildren">I have own children</p>
    <p class="card-text" *ngIf="babysitter.specialChild">I can work with special child</p>
    <p class="card-text" *ngIf="babysitter.videoSurveillance">I don't mind of video surveillance</p>
    <p class="card-text">Responsibilities: {{ babysitter.responsibilities }}</p>
    <p class="card-text" *ngIf="babysitter.details">Details: {{ babysitter.details }}</p>
    <p class="card-text">Country: {{ babysitter.location.country }}</p>
    <p class="card-text">City: {{ babysitter.location.city }}</p>
    <p class="card-text" *ngIf="babysitter.location.region">Region: {{ babysitter.location.region }}</p>
    <p class="card-text" *ngIf="babysitter.location.street">Street: {{ babysitter.location.street }}</p>
    <div *ngFor="let exp of babysitter.experiences">
      <p class="card-text">From: {{ exp.from }}</p>
      <p class="card-text">To: {{ exp.to }}</p>
      <p class="card-text">Title: {{ exp.title }}</p>
      <p class="card-text">Description: {{ exp.description }}</p>
    </div>
    <button class="btn btn-outline-secondary mr-3"
            style="width:80px"
            (click)="onBack()">
      Back
    </button>
    <button class="btn btn-outline-secondary mr-3"
            style="width:80px"
            (click)="deleteBabysitterResume(babysitter.id)">
      Delete
    </button>
  </div>
  <div class="card-footer p-3 mb-2 alert-primary text-dark" *ngIf="babysitter.top">
    Top Resume
  </div>
</div>

<div class="card border-dark mb-3" *ngFor="let driver of allDriverResume">
  <h5 class="card-header">{{ SpecializationType[driver.specialization.specializationType] }}</h5>
  <div class="card-body text-dark">
    <h5 class="card-title">{{ driver.description }}</h5>
    <p class="card-text">Age: {{ driver.age }}</p>
    <p class="card-text">Driving experience: {{ driver.drivingExperience }}</p>
    <p class="card-text">Employment type: {{ EmploymentType[driver.specialization.employmentType] }}</p>
    <p class="card-text">Payment type: {{ PaymentType[driver.specialization.paymentType] }}</p>
    <p class="card-text" *ngIf="driver.specialization.paymentPrice">Payment price: {{ driver.specialization.paymentPrice }} hrn</p>
    <p class="card-text">Education type: {{ EducationType[driver.specialization.educationType] }}</p>
    <p class="card-text" *ngIf="driver.details">Details: {{ driver.details }}</p>
    <p class="card-text">Country: {{ driver.location.country }}</p>
    <p class="card-text">City: {{ driver.location.city }}</p>
    <p class="card-text" *ngIf="driver.location.region">Region: {{ driver.location.region }}</p>
    <p class="card-text" *ngIf="driver.location.street">Street: {{ driver.location.street }}</p>
    <div *ngFor="let exp of driver.experiences">
      <p class="card-text">From: {{ exp.from }}</p>
      <p class="card-text">To: {{ exp.to }}</p>
      <p class="card-text">Title: {{ exp.title }}</p>
      <p class="card-text">Description: {{ exp.description }}</p>
    </div>
    <button class="btn btn-outline-secondary mr-3"
            style="width:80px"
            (click)="onBack()">
      Back
    </button>
    <button class="btn btn-outline-secondary mr-3"
            style="width:80px"
            (click)="deleteDriverResume(driver.id)">
      Delete
    </button>
  </div>
  <div class="card-footer p-3 mb-2 alert-primary text-dark" *ngIf="driver.top">
    Top Resume
  </div>
</div>
