<div class="alert alert-danger" role="alert" *ngIf="this.trackerError.friendlyMessage">
  {{this.trackerError.friendlyMessage}}
</div>

<div class="col-lg-5">
  <div class="well bs-component">
    <form novalidate (ngSubmit)="addVacancy()" class="form-horizontal"
          [formGroup]="addVacancyForm">
      <fieldset>
        <legend>Add New Vacancy</legend>
        <div class="form-group">
          <label for="inputDescription" class="control-label">Description</label>
          <textarea class="form-control"
                    id="inputDescription" rows="3"
                    formControlName="description"
                    [ngClass]="{'is-invalid': (addVacancyForm.get('description').touched
                        || addVacancyForm.get('description').dirty)
                        && !addVacancyForm.get('description').valid }">
              </textarea>
          <span class="invalid-feedback">
            <span *ngIf="addVacancyForm.get('description').errors?.required">
              Please enter description.
            </span>
          </span>
        </div>

        <div class="form-group">
          <label for="inputAgeFrom" class="control-label">Age from</label>
          <input type="number" class="form-control"
                 id="inputAgeFrom" formControlName="ageFrom"
                 [ngClass]="{'is-invalid': (addVacancyForm.get('ageFrom').touched
                 || addVacancyForm.get('ageFrom').dirty) && !addVacancyForm.get('ageFrom').valid }">
          <span class="invalid-feedback">
            <span *ngIf="addVacancyForm.get('ageFrom').errors?.required">
              Please enter age from.
            </span>
          </span>
        </div>
        <div class="form-group">
          <label for="inputAgeTo" class="control-label">Age to</label>
          <input type="number" class="form-control"
                 id="inputAgeTo" formControlName="ageTo"
                 [ngClass]="{'is-invalid': (addVacancyForm.get('ageTo').touched || addVacancyForm.get('ageTo').dirty) && !addVacancyForm.get('ageTo').valid }">
          <span class="invalid-feedback">
            <span *ngIf="addVacancyForm.get('ageTo').errors?.required">
              Please enter age to.
            </span>
          </span>
        </div>

        <div formGroupName="specialization">
          <div class="form-group">
            <label for="selectSpecialization" class="control-label">Select specialization</label>
            <select class="form-control" id="selectSpecialization"
                    formControlName="specializationType"
                    [ngClass]="{'is-invalid': (addVacancyForm.get('specialization.specializationType').touched
                  || addVacancyForm.get('specialization.specializationType').dirty)
                  && !addVacancyForm.get('specialization.specializationType').valid }">
              <option value="1">Driver</option>
              <option value="2">Housekeeper</option>
              <option value="3">Nurse</option>
              <option value="4">Babysitter</option>
            </select>
            <span class="invalid-feedback">
              <span *ngIf="addVacancyForm.get('specialization.specializationType').errors?.required">
                Please select specialization type.
              </span>
            </span>
          </div>

          <div class="form-group">
            <label for="selectEmploymentType" class="control-label">Employment type</label>
            <select class="form-control" id="selectEmploymentType"
                    formControlName="employmentType"
                    [ngClass]="{'is-invalid': (addVacancyForm.get('specialization.employmentType').touched || addVacancyForm.get('specialization.employmentType').dirty) && !addVacancyForm.get('specialization.employmentType').valid }">
              <option value="1">Full</option>
              <option value="2">Partial</option>
            </select>
            <span class="invalid-feedback">
              <span *ngIf="addVacancyForm.get('specialization.employmentType').errors?.required">
                Please select employment type.
              </span>
            </span>
          </div>

          <div class="form-group">
            <label for="selectPaymentType" class="control-label">Payment type</label>
            <select class="form-control" id="selectPaymentType"
                    formControlName="paymentType"
                    [ngClass]="{'is-invalid': (addVacancyForm.get('specialization.paymentType').touched
                    || addVacancyForm.get('specialization.paymentType').dirty)
                    && !addVacancyForm.get('specialization.paymentType').valid }">
              <option value="1">Per Hour</option>
              <option value="2">Per Day</option>
              <option value="3">Per Month</option>
            </select>
            <span class="invalid-feedback">
              <span *ngIf="addVacancyForm.get('specialization.paymentType').errors?.required">
                Please select payment type.
              </span>
            </span>
          </div>

          <div class="form-group">
            <label for="inputPaymentPrice" class="control-label">Payment price</label>
            <input type="number" class="form-control"
                   id="inputPaymentPrice"
                   formControlName="paymentPrice">
          </div>

          <div class="form-group">
            <label for="inputExperience" class="control-label">Experience</label>
            <input type="number" class="form-control"
                   id="inputExperience"
                   formControlName="experience" />
          </div>

          <div class="form-group">
            <label for="selectEducationType" class="control-label">Education type</label>
            <select class="form-control" id="selectEducationType"
                    formControlName="educationType"
                    [ngClass]="{'is-invalid': (addVacancyForm.get('specialization.educationType').touched
                    || addVacancyForm.get('specialization.educationType').dirty)
                    && !addVacancyForm.get('specialization.educationType').valid }">
              <option value="1">Secondary</option>
              <option value="2">Higher</option>
            </select>
            <span class="invalid-feedback">
              <span *ngIf="addVacancyForm.get('specialization.educationType').errors?.required">
                Please select education type.
              </span>
            </span>
          </div>

        </div>

        <div *ngIf="addVacancyForm.get('specialization.specializationType').value == 1">
          <div class="form-group">
            <label for="inputDrivingExperience" class="control-label">Driving experience</label>
            <input type="number" class="form-control"
                   id="inputDrivingExperience" formControlName="drivingExperience"
                   [ngClass]="{'is-invalid': (addVacancyForm.get('drivingExperience').touched
                 || addVacancyForm.get('drivingExperience').dirty)
                 && !addVacancyForm.get('drivingExperience').valid }">
            <span class="invalid-feedback">
              <span *ngIf="addVacancyForm.get('drivingExperience').errors?.required">
                Please enter driving experience.
              </span>
            </span>
          </div>
        </div>

        <div formGroupName="location">
          <div class="form-group">
            <label for="inputCountry" class="control-label">Country</label>
            <input type="text" class="form-control"
                   id="inputCountry"
                   formControlName="country"
                   [ngClass]="{'is-invalid': (addVacancyForm.get('location.country').touched
                   || addVacancyForm.get('location.country').dirty)
                   && !addVacancyForm.get('location.country').valid }">

            <span class="invalid-feedback">
              <span *ngIf="addVacancyForm.get('location.country').errors?.required">
                Please enter country.
              </span>
            </span>
          </div>

          <div class="form-group">
            <label for="inputCity" class="control-label">City</label>
            <input type="text" class="form-control" id="inputCity"
                   formControlName="city"
                   [ngClass]="{'is-invalid': (addVacancyForm.get('location.city').touched
                   || addVacancyForm.get('location.city').dirty)
                   && !addVacancyForm.get('location.city').valid }">
            <span class="invalid-feedback">
              <span *ngIf="addVacancyForm.get('location.city').errors?.required">
                Please enter description.
              </span>
            </span>
          </div>

          <div class="form-group">
            <label for="inputRegion" class="control-label">Region</label>
            <input type="text" class="form-control"
                   id="inputRegion"
                   formControlName="region">
          </div>
          <div class="form-group">
            <label for="inputStreet" class="control-label">Street</label>
            <input type="text" class="form-control"
                   id="inputStreet"
                   formControlName="street">
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary"
                  [disabled]="!addVacancyForm.valid">Add</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
